/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

::placeholder {
  font-family: "Cinzel", serif;
  color: #072f62;
}

body {
  font-family: "Cinzel", serif;
  font-size: 0.938rem;
  background-color: hsl(0, 0%, 100%);
}

*::selection {
  background: #dc3545;
  color: #072f62;
}

body::-webkit-scrollbar {
  width: .5rem;
}

body::-webkit-scrollbar-track {
  background-color: #fff;
}

body::-webkit-scrollbar-thumb {
  background-color: #491F1A;
  outline: 1px solid #491F1A;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #ffff;
  z-index: 100;
}

.nav {
  position: relative;
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: #491F1A;
  font-weight: 500;
}

.nav__close,
.nav__toggle {
  display: flex;
  color: #491F1A;
  font-size: 1.5rem;
  cursor: pointer;
}



/* Navigation for mobile devices */
@media screen and (max-width: 1150px) {
  .nav__menu {
    position: fixed;
    left: -100%;
    top: 0;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.7px);
    -webkit-backdrop-filter: blur(8.7px);
    width: 100%;
    height: 100%;
    padding: 6rem 3.5rem 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: left 0.4s;
  }

  .nav__item {
    transform: translateX(-150px);
    visibility: hidden;
    transition: transform 0.4s ease-out, visibility 0.4s;
  }

  .nav__item:nth-child(1) {
    transition-delay: 0.1s;
  }

  .nav__item:nth-child(2) {
    transition-delay: 0.2s;
  }

  .nav__item:nth-child(3) {
    transition-delay: 0.3s;
  }

  .nav__item:nth-child(4) {
    transition-delay: 0.4s;
  }

  .nav__item:nth-child(5) {
    transition-delay: 0.5s;
  }
}

.nav__list,
.nav__social {
  display: flex;
}

.nav__list {
  flex-direction: column;
  row-gap: 3rem;
}

.nav__link {
  position: relative;
  color: #491F1A;
  font-size: 1.5rem;
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  transition: opacity 0.4s;
}

.nav__link i {
  font-size: 5rem;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0.4s;
}

.nav__link span {
  position: relative;
  transition: margin 0.4s;
}

.nav__link span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background-color: #491F1A;
  transition: width 0.4s ease-out;
}

/* Animation link on hover */
.nav__link:hover span {
  margin-left: 2.5rem;
}

.nav__link:hover i {
  opacity: 1;
  visibility: visible;
}

.nav__link:hover span::after {
  width: 100%;
}

/* Sibling fade animation */
.nav__list:has(.nav__link:hover) .nav__link:not(:hover) {
  opacity: 0.4;
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.nav__social {
  column-gap: 1rem;
}

.nav__social-link {
  color: #491F1A;
  font-size: 1.5rem;
  transition: transform 0.4s;
}

.nav__social-link:hover {
  transform: translateY(-0.25rem);
}

/* Show menu */
.show-menu {
  left: 0;
}

/* Animation link when displaying menu */
.show-menu .nav__item {
  visibility: visible;
  transform: translateX(0);
}

.nav__logo {
  width: 3.5rem;
  height: auto;
  object-fit: cover;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(2.5rem + 2rem);
  }

  .nav__toggle,
  .nav__close {
    display: none;
  }

  .nav__link {
    font-size: 1.2rem;
  }

  .nav__link i {
    font-size: 1.5rem;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 3.5rem;
  }

  .nav__menu {
    display: flex;
    align-items: center;
    column-gap: 6.5rem;
  }
}





.homepage {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: right;
  position: relative;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: change 25s infinite ease-in-out;
}


/* Additional styles for smaller devices */
@media screen and (max-width: 768px) {
  .homepage {
    background-position: center;
    /* Adjusts positioning on smaller screens */
  }
}

@media screen and (min-width: 1024px) {
  .homepage {
    height: calc(100vh - 3.5rem);
    /* Adjust for header height if applicable */
  }
}



/* Keyframes for background image animation */
@keyframes change {
  0% {
    background-image: url("/src/assets/heroimg1.png");
  }

  20% {
    background-image: url("/src/assets/heroimg2.png");
  }

  40% {
    background-image: url("/src/assets/heroimg3.png");
  }

  60% {
    background-image: url("/src/assets/heroimg4.png");
  }

  80% {
    background-image: url("/src/assets/heroimg5.png");
  }

  100% {
    background-image: url("/src/assets/heroimg6.png");
  }
}

.hero-content {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  position: relative;
  overflow: hidden;
}


.hero-image {
  flex: 1;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* Place image behind the content */
}